:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color:rgb(245, 62, 45);
    --star-gold-color: #FFCE3E;

    --header-height: 120px;
    --navbar-height: 45px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width {
    width: 100%;
}
.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* test grid */
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.666%;
}
.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.334%;
}
.grid__column-2-4{ /*Vì grid-2 đang nằm trong grid-10 nên nó xem grid-10 là cha => grid-10 đang là 100%*/
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
/* animation */
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* bnt style */
.btn{
    min-width: 142px;
    height: 36px;
    text-decoration: none;
    border: 0px;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
    background-color: var(--white-color);
}
.btn.btn--normal:hover{
    background-color: rgba(0, 0, 0, 0.3);
}
.btn.btn--primary{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.btn.btn--disabled{
    cursor: default;
    filter: brightness(0.6);
}

@keyframes growth{
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }
}

/* selection btn  */
.select-input{
    min-width: 120px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}